.search-input{
    padding: 6px 12px 6px 12px;
    font-weight: 500;
    font-family: 'Roboto';
    margin-left: 1em;
}
.submit-btn{
    border: none;
    background-color: #fff;
    color: #020231;
    font-size: 12px;
    font-weight: bold;
}

@media screen and (max-width:900px){
    .form-seach{
        margin-top:1em;
    }
}